{% extends 'base.html.twig' %}
 
{% block body %}
    {{ form_start(form) }}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}