{% extends 'base.html.twig' %}

{% block title %}Edit Pax{% endblock %}

{% block body %}
    <h1>Edit Pax</h1>

    {{ include('pax/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pax_index') }}">back to list</a>

    {{ include('pax/_delete_form.html.twig') }}
{% endblock %}
